@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 10;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c4aead;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

p {
  margin: 5px;
}

img {
  position: relative;
  left: -12px;
  top: -10px;
  border: none;
}

h1 {
  text-align: center;
  color: #333;
  padding: 20px;
  font-size: 3rem;
}

h4 {
  color: #333;
  font-size: 1.5rem;
}

button {
  width: 125px;
  height: auto;
  box-shadow: 0 0 5px #333;
  font-family: 'Lato', sans-serif;
}

button:hover {
  box-shadow: 0 0 10px #333;
}
